.input {
    height: 2.7em;
}

.input input {
    background-color: var(--input-color);
    border: 1px solid transparent;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: inherit;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
    padding: 0.5em 1em;
}
.input input:focus {
    border-color:  var(--pink);
}