.modal {
    position: fixed;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: var(--indexOfModal);
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(0.3px);
}
